{% extends 'base.html.twig' %}

{% block title %}Les departements de France{% endblock %}

{% block body %}
    <div class="container mt-5">
        <form action="{{ path('api_deptregion') }}" method="get">
            <div class="row">
                <div class="col-md-10">
                    <div class="form-group">
                        <select class="form-control" name="region" id="region">
                            <option value="all">Toutes les regions</option>
                            {% for region in regions %}
                                <option value="{{ region.code }}" {% if app.request.query.get('region') == region.code %} selected {% endif %}>{{ region.nom }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary">Rechercher</button>
                </div>
            </div>
        </form>
        <H1>Departement par region</H1>
        <div class="row">
            {% for department in departments %}
                <div class="col-md-3">
                    <div class="card border-primary mb-3" style="max-width: 20rem;">
                        <div class="card-header">{{ department.code }}</div>
                        <div class="card-body">
                            <h4 class="card-title">{{ department.nom }}</h4>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
