{% extends 'base.html.twig' %}

{% block title %}Les regions de France{% endblock %}

{% block body %}
    <div class="container">
        <H1>Les regions de France</H1>
        <div class="row">
            {% for region in regions %}
                <div class="col-md-3">
                    <div class="card border-primary mb-3" style="max-width: 20rem;">
                        <div class="card-header">N° {{ region.code }}</div>
                        <div class="card-body">
                            <h4 class="card-title">{{ region.nom }}</h4>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
